 <div>
    {{#if products}}
    <h1 class="title">Productos en el carrito</h1>
    {{#each products}}
     <article>
      <h2>{{this.product.title}}</h2>
      <p><b>Description:</b> {{this.product.description}}</p>
      <p><b>Code:</b> {{this.product.code}}</p>
      <p><b>Price:</b> {{this.product.price}}</p>
      <p><b>Stock:</b> {{this.product.stock}}</p>
      <p><b>Category:</b> {{this.product.category}}</p>
      <p><b>Cantidad:</b> {{this.quantity}}</p>
    </article>
    {{/each}}
    {{else}}
    <h1>El carrito no tiene productos</h1>
    {{/if}}
</div>
