<article>
  <header>
    <h1>Bienvenido</h1>
  </header>
 {{#if isAdmin}}
    <p id="user-rol">Role: ADMIN ACCOUNT</p>
    <button  class="contrast" id="user-management"><a href="api/users">USER MANAGEMENT</a></button>   
{{else}}
<div>
    <p id="user-rol">Role: {{user.role}} </p>
  <button class="contrast" ><a href="api/carts/{{user.cart._id}}" data-cart-id="{{user.cart._id}}">Your cart</a></button>
  <p>Nombre: {{user.first_name}}</p>
  <p>Apellido: {{user.last_name}}</p>
  <p>Correo: {{user.email}}</p>
  <p>Edad: {{user.age}}</p>
</div>

  <footer>
    <a href="/login" role="button">Logout</a>
  </footer>
</article>

<h1>Productos</h1>

<div class="grid">
    <div>
    {{#if sort}}
  {{#isEqualThan sort 'asc'}}
    <a href="http://localhost:8080/products?limit={{limit}}&page={{page}}{{#if category}}&category={{category}}{{/if}}{{#if stock}}&stock={{stock}}{{/if}}&sort=desc" role="button">Cambiar a orden descendente</a>
  {{else}}
    <a href="http://localhost:8080/products?limit={{limit}}&page={{page}}{{#if category}}&category={{category}}{{/if}}{{#if stock}}&stock={{stock}}{{/if}}&sort=asc" role="button">Cambiar a orden ascendente</a>
  {{/isEqualThan}}
{{else}}
  
  <a href="http://localhost:8080/products?limit={{limit}}&page={{page}}{{#if category}}&category={{category}}{{/if}}{{#if stock}}&stock={{stock}}{{/if}}&sort=asc" role="button">Agregar ordenamiento</a>
{{/if}}
</div>
</div>
<table id="main" role="grid">
<thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Code</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Category</th>
  </tr>
  </thead>
  <tbody>
  {{#each payload}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.code}}</td>
      <td>{{this.price}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.category}}</td>
    <td> <a href="#" role="button" class="outline addToCart"  data-product="{{json this}}">Add to Cart</a></td>
    </tr>
    </tbody>
  {{/each}}
    <tfoot></tfoot>
</table>

<p>Página actual: {{page}}</p>

<a href="{{prevLink}}" role="button" {{#unless hasPrevPage}}disabled{{/unless}} >Anterior</a>
<a href="{{nextLink}}" role="button" {{#unless hasNextPage}}disabled{{/unless}} >Siguiente</a>
{{/if}}
  
<script src="/js/products.js"></script>